<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration   PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                          "http://mybatis.org/dtd/mybatis-3-config.dtd">

<!-- MyBatis XML 설정 파일(MyBatis설정의 중앙 허브 역할) -->
<configuration>
	 <typeAliases>
	      <typeAlias type="com.object.asc.user.domain.User" alias="User"/>
	      <typeAlias type="com.object.asc.project.domain.LibraryList" alias="LibraryList"/>
	      <typeAlias type="com.object.asc.lobby.domain.ProjectList" alias="ProjectList"/>
	      <typeAlias type="com.object.asc.lobby.domain.ProjectJoin" alias="ProjectJoin"/>
     </typeAliases>
</configuration> 