<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.object.asc.mapper.GanttMapper">

<!-- 간트차트조회 -->
<select id="ganttList" resultType="com.object.asc.gantt.domain.GanttChartList">
select gantt_list_no as 'ganttListNo', gantt_no as 'ganttNo', user_no as 'userNo', title, worker, start_date as 'startDate', end_date as 'endDate', color
from gantt_chart_list
where gantt_no= (select gantt_no
				from gantt_chart
				where project_list_no = #{projectListNo});
</select>

<!-- 기능 추가 -->
<insert id="register">
INSERT INTO gantt_chart_list(gantt_list_no, gantt_no, user_no, title, worker, start_date, end_date, color) 
VALUES (null, (select gantt_no
			   from gantt_chart
               where project_list_no = #{projectListNo}), #{userNo}, #{title}, #{worker}, date_add(#{startDate}, interval +1 day), date_add(#{endDate}, interval +1 day), #{color})
</insert>

<!-- 기능 수정 -->
<update id="modify">
UPDATE gantt_chart_list
SET title = #{title}, worker = #{worker}, start_date = date_add(#{startDate}, interval +1 day), end_date = date_add(#{endDate}, interval +1 day), color = #{color}
where gantt_list_no=#{ganttListNo}
</update>

<!-- 기능 삭제 -->
<delete id="delete">
DELETE
FROM gantt_chart_list
WHERE gantt_list_no = #{ganttListNo};
</delete>

<!-- 오늘 할 일 기능 조회(간트) -->
<select id="todayList" resultType="String">
<![CDATA[
select title
from gantt_chart_list
where start_date <= date(now()) and end_date >= date(now()) and gantt_no= #{ganttNo}
]]>
</select>

</mapper>