<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.object.asc.mapper.LobbyMapper">

<!-- 참여 생성 -->
<insert id="projectJoinRegister">
INSERT INTO project_join(project_join_no) VALUES (null);
</insert>

<!-- 프로젝트 내역 생성 -->
<insert id="projectListRegister">
INSERT INTO project_list(project_join_no, project_name, project_photo, chat_name, chat_content, start_date, end_date, content) 
VALUES (#{projectJoinNo}, #{projectName}, #{projectPhoto}, #{chatName}, #{chatContent}, #{startDate}, #{endDate}, #{content});
</insert>

<!-- 참여 내역 생성 -->
<insert id="projectJoinListRegister">
INSERT INTO project_join_list(project_join_list_no, project_join_no, user_no, status) 
VALUES (null, #{projectJoinNo}, #{userNo}, #{status});
</insert>

<!-- 대쉬보드 생성(회원 전부) -->
<insert id="dashBoardRegister">
INSERT INTO dash_board(dash_board_no, project_list_no, user_no, memo) 
VALUES (null, #{projectListNo}, #{userNo}, #{memo});
</insert>

<!-- 프로젝트 날짜 받아오기 -->
<select id="projectDate" resultType="com.object.asc.lobby.domain.ProjectList">
select project_list_no as 'projectListNo', project_name as 'projectName', start_date as 'startDate', end_date as 'endDate'
from project_list
where project_list_no=#{projectListNo}
</select>

</mapper>